@charset "utf-8";
/* CSS Document */
body{
	background-color: #D8B6B6;
	margin: 0px;
	padding: 0px;
}
h1{
	background-image: url("../images/H1-background.png");
	text-align: center;
	font-family: 'Cambria', 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	background-color:pink;
	text-decoration: underline;
	font-size: 45px;
	border-style: groove;
	border-color: blue;
}
h2{
	text-align: center;
	font-family: Baskerville, 'Palatino Linotype', Palatino, 'Century Schoolbook L', 'Times New Roman', 'serif';
	background-color:hotpink;
	text-decoration: underline;
	text-decoration: bold;
	font-size: 25px;
	border-style: ridge;
	border-color: orange;
}

h3{
	text-align: center;
	font-family: Baskerville, 'Palatino Linotype', Palatino, 'Century Schoolbook L', 'Times New Roman', 'serif';
	background-color:red;
	text-decoration: underline;
	text-decoration: bold;
	font-size: 25px;
	padding: 10px;
	border-style: double;
	border-color: purple;
	
}
.my-class{
	text-align:center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-decoration: bold;
	font-size: 14px;
	background: #F1B3B4;
	margin: 10;
	padding: 10px;
	border-style: double;
	border-color: aqua;
	
}
div{
	margin: 1px;
	padding: 1px;
}
img{
	border-color: red;
	border-style: dashed;
	border-width: thick;
}